{% extends 'Nipracademy/base.html' %}
{% load static %}
{% load Nipracademy_custom_tags %}

{%block title%}
Privacy policy
{% endblock %}
{% block content %}
<div class="container"><h1 class="text-center"><strong> Privacy Policy </strong></h1><br>
<p><h6> Kindly take a moment to review the Privacy Policy governing the services accessible on 
    <i><a href="www.nipracademy.live">www.nipracademy.live</a></i>.<br> The NP App or Website, collectively known as the “Platform” for brevity, 
    offers these services.<br><br>
    Before engaging with any services provided by Us, we recommend thoroughly reviewing this Privacy 
    Policy. Please be aware that this Policy undergoes periodic updates; thus, we advise you to check 
    regularly for any modifications to our data handling and privacy practices.<br><br>
    By accessing the NP Platform, you acknowledge and agree to comply with the terms delineated in this 
    Privacy Policy.<br><br>
    When utilizing the NP Platform and/or sharing Your information, you are consenting to the collection 
    and utilization of the information you provide on our Website in accordance with this Privacy Policy, 
    including the disclosure of your information as outlined herein.In the event of any changes to our 
    Privacy Policy, updates will be posted on this page to keep you informed about the data we collect, its 
    purpose, and when it is disclosed. If you do not consent to the terms stated above, please refrain from 
    using or accessing our Website.<br><br>
    1. Collection of Personally Identifiable Information<br>
    1.1 To enhance our service delivery to You, we collect specific information about You falling 
    into the following categories:<br><br>
    • Name<br>
    • Telephone Number<br>
    • Email Address<br>
    • Service Address<br>
    • Other pertinent details related to the service address you provide<br>
    • Your IP address<br>
    • Device information<br>
    • Network particulars<br>
    • College/Institution Information and location<br>
    • User-uploaded photos and IDs<br>
    • Demographic data like postcode, preferences, and interests<br>
    • Any additional personal information shared by You during service bookings or related to 
    customer surveys and offers.<br><br>
    1.2 During Registration for profile creation and Website utilization, you may be asked to provide the 
    following information: your name, username, password, email address, medical specialty (selected 
    from a drop-down menu where applicable), graduation year or year of enrollment in an undergraduate 
    medical program, and the name of your college or university.<br> Additionally, you may choose to upload 
    a profile picture.<br><br>
    1.3 We also provide the option to register using Facebook. By selecting this registration method, you 
    grant us access to your profile information, including your friends list. Note that registering on the 
    Platform via Facebook subjects you to Facebook's Terms & Conditions and Privacy Policy.<br>
    1.4 Your username, country, and specialty are stored on an unencrypted server. Your password is 
    securely hashed, and your email address is encrypted. Collectively, these elements constitute your 
    “Personal User Information.” We collect and retain this information to manage your Application 
    usage.<br><br>
    1.5 You bear full responsibility for:<br><br>
    1. Safeguarding the strict confidentiality of your Personal User Information.<br>
    2. Prohibiting any unauthorized use of your Personal User Information to access the Services.<br>
    3. Any damages or losses resulting from activities within your Account.<br>
    4. Ensuring that the information you submit aligns with our terms and conditions.<br>
    5. Verifying that the information you provide is accurate and regularly updated.<br><br>
    1.6 Kindly notify NP promptly in writing via email regarding any unauthorized use of your Personal 
    User Information or security breaches. NP bears no liability for any harm arising from the theft, 
    disclosure, or misuse of your Personal User Information within your control.<br><br>
    1.7 Upon sharing personal information with us, your anonymity ceases, allowing us to conduct 
    internal research on demographics, interests, and behavior to enhance customer service and 
    protection. This data is aggregated and analyzed. Mandatory and optional data fields are indicated, 
    granting you the choice to disclose such information.<br><br>
    1.8 You retain the option to withhold any personal or necessary information for availing Services.<br> 
    Failure to provide essential information may result in the unavailability of certain Services, as per the 
    Terms of Use definition.<br><br>
    1.9 Browsing our Website anonymously without divulging personal information is feasible. We may 
    automatically track specific details based on your website activity, such as the previous and 
    subsequent URLs visited, browser specifics, and IP address.<br><br>
    1.10 Our Websites utilize data collection tools like "cookies" on select pages to analyze webpage 
    traffic, gauge promotional efficacy, and bolster trust and security."Cookies" are small files stored on 
    your device to facilitate service provision. Certain features may necessitate cookie usage, and you 
    have the option to decline cookies if your browser allows, albeit this may limit website functionality.<br> 
    Third-party cookies may also be encountered on some pages, over which we have no control.<br><br>
    2. Use of Personal Information<br><br>
    2.1 The information gathered by our Website is utilized for various purposes to enhance our service to 
    you, including:<br><br>
    1. Identifying suitable third-party service providers.<br>
    2. Internal record-keeping.<br>
    3. Improving our products and services.<br>
    4. Periodically sending promotional emails or messages through the Website regarding new 
    products, special offers, or other information we believe may be of interest to you, using the 
    email address you provided.<br>
    5. Customizing the Website based on your interests.<br><br>
    2.2 Personal information may be employed to:<br><br>
    • Resolve disputes that may arise from our Services.<br>
    • Ensure a secure service for all customers.<br>
    • Gauge consumer interest in our services.<br>
    • Tailor your user experience.<br>
    • Detect and protect against errors, fraud, and criminal activities.<br>
    • Enforce our terms and conditions.<br><br>
    2.3 We may use your IP address for:<br><br>
    • Diagnosing server issues.<br>
    • Administering our Websites.<br>
    • Identifying you and collecting general demographic information.<br><br>
    3. Sharing of Personal Informationv<br><br>
    3.1 Your information may be shared with payment service providers, regulatory authorities, and third-party agencies upon their request.<br><br>
    3.2 Personal information may be disclosed:<br><br>
    • When required by law or in good faith to respond to legal processes.<br>
    • To law enforcement or third parties to enforce our Terms or Privacy Policy.<br>
    • To protect the rights, property, or safety of our customers or the public.<br><br>
    3.3 In the event of a merger, acquisition, or reorganization, we may share or sell collected information 
    with another business entity, which must adhere to this Privacy Policy.<br><br>
    3.4 We do not provide identifiable personal information to advertisers but may share aggregate or 
    anonymized data to assist them in reaching their target audience effectively.<br><br>
    This revised privacy policy outlines the use and sharing of personal information collected through the 
    Website, ensuring transparency and compliance with privacy regulations.<br><br>
    4. Information Safety<br><br>
    • All data is securely saved on servers protected by passwords and pins to prevent unauthorized 
    access. We strictly follow security protocols to safeguard your information.<br><br>
    5.Choice/Opt-Out<br><br>
    • We offer customers the choice to opt-out of receiving non-essential communications, 
    including promotional messages, from us and our partners after providing personal 
    information. If you wish to be removed from all lists and newsletters, kindly contact us via 
    email.<br><br>
    Please note that all other terms and conditions outlined in the Terms and Conditions of Use at 
    <i><a href = "www.nipracademy.live/">www.nipracademy.live/</a></i> are also applicable to you and should be reviewed alongside this Privacy 
    Policy.<br><br>
    Privacy Policy Acknowledgement<br><br>
    Thank you for taking the time to review our information safety and choice/opt-out policies. We 
    prioritize the security of your data and are committed to providing transparency in our communication 
    practices.<br><br>
    By choosing to opt-out of non-essential communications, you have the power to tailor your 
    interactions with us to suit your preferences. Your feedback is valuable to us, and we are here to 
    support you in any way we can. Please feel free to reach out to us via email if you have any questions 
    or concerns.<br><br>
    Remember, your privacy and security are paramount to us. We encourage you to familiarize yourself 
    with our Terms and Conditions of Use to ensure that you are fully informed about how we operate 
    and protect your data. Thank you for entrusting us with your information and being a part of our 
    community.</h6><br></P>
</div>

{% endblock content%}