{% extends 'Nipracademy/base.html' %}
{% load static %}
{% load Nipracademy_custom_tags %}

{%block title%}
Terms and conditions
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center"><strong>Terms and conditions</strong></h1>
    <p><h6>
        This privacy policy is applicable to all Users accessing the Platform and mandates a comprehensive 
understanding of the Policy before disclosing any Personal Information (as defined below). The 
privacy policy governs the utilization of the 'Nipracademy' application, Nipracademy YouTube 
Channel, www.nipracademy.live (referred to as the 'Website'), as well as other associated 
applications, products, websites, and services managed by the Company. By providing Personal 
Information, users consent to the use and processing of such data in accordance with this Policy.
Third-party websites may deploy their own cookies or files on users' devices, gathering data or 
requesting personal information, for which Nipracademy bears no responsibility. Consequently, 
Nipracademy does not assert the privacy practices or policies of these third parties, nor does it 
guarantee the accuracy, integrity, or quality of information available on such websites or applications. 
Inclusion or exclusion of any third-party website does not denote endorsement by Nipracademy of the 
website, its provider, or the information presented therein. Users are encouraged to review the privacy 
policies of each such website or application, acknowledging that responsibility lies solely with the 
third party in this respect.<br><br>
Nipracademy has implemented reasonable precautions in accordance with applicable Indian law and 
industry standards to uphold the confidentiality of Personal Information and safeguard it from 
unauthorized access, misuse, disclosure, alteration, unlawful destruction, or accidental loss. The 
Company pledges not to disclose or utilize user information except as outlined in this Privacy Policy. 
Each instance of utilizing our service denotes acceptance of the practices detailed in this Privacy 
Policy at that specific time.<br><br>
<i>USAGE AND RETENTION OF INFORMATION</i><br><br>
We collect information when users access and register on the Application, Website, YouTube 
Channel, or Services. Upon registration, users typically provide their name, age, email address, 
location, phone number, password, and educational interests. This information includes transaction related data, interactions with us for assistance, and content entered into our systems while using the 
platform. The collected information is categorized as "Personal Information," "Sensitive Personal 
Information," and "Associated Information," as defined under the Information Technology 
(Reasonable security practices and procedures and sensitive personal data or information) Rules, 
2011. We may use this information to contact users periodically, provide services, important 
notifications, and marketing promotions. Additionally, we analyze, administer, and enhance our 
services, provide personalized experiences, customer service, detect fraud, and communicate with 
users regarding our services. The information may also be utilized to determine users' locations, offer 
localized content, personalized study materials, and respond to inquiries promptly.<br><br>
<i>COOKIES</i><br><br>
We send cookies (small files containing a string of characters) to users' devices to uniquely identify 
their browsers. Cookies aid in tracking preferences, facilitating quicker logins, and aggregating data to 
identify user trends. This data is utilized to enhance our offerings by providing more content in areas 
of significant user interest. While most browsers are initially set to accept cookies, users can adjust 
settings to refuse all cookies or receive notifications when a cookie is sent. Disabling cookies may 
impact the functionality of certain features and services.<br><br>
SHARING AND DISCLOSING PERSONAL INFORMATION<br><br>
We engage Service Providers to perform services on our behalf, providing marketing, IT, customer 
service, and data analysis services. These Service Providers may access personal information solely 
for service provision and are not authorized to disclose or utilize the data for other purposes. Your 
Personal Information is utilized to present services effectively, maintain platform security, fulfill 
obligations, and communicate with users. Communication may be in the form of calls, texts, or emails 
for transactional, service, or promotional purposes. Users can opt-out of receiving communication by 
contacting us.<br><br>
<i>INFORMATION SECURITY</i><br><br>
We uphold a strict policy of not selling, transferring, or renting your personal information to third 
parties for marketing purposes without your explicit consent. Your information is utilized in 
accordance with our Privacy Policy. Safeguarding your privacy is a fundamental principle for us, 
recognizing that your information is among our most valuable assets. Your personal data is stored and 
processed on secure computers in India, safeguarded by both physical and technological security 
measures. We enlist third parties to validate and certify our privacy standards. If you object to the 
transfer or use of your information in this manner, kindly refrain from using this Website/Application. 
Under no circumstances do we share, rent, trade, or transfer your personal information collected with 
any other company for marketing purposes without your consent. We retain the right to disclose your 
personal information to any third party upon receiving a legally-compliant request for its release.<br><br>
<i>PUBLIC FORUMS</i><br><br>
By engaging with certain features on our Website/Application/YouTube Channel, such as discussion 
forums, and sharing personal information like comments, messages, files, and photos, you 
acknowledge that this content becomes publicly accessible to all users. Such sharing of information is 
done at your own discretion. Please be mindful that any personal information disclosed in your profile 
or forum posts may become publicly available.<br><br>
<i>CONSULTING</i><br><br>
We engage third parties to assist in delivering services to you, encompassing service fulfillment, 
payment processing, site activity monitoring, survey administration, database maintenance, email 
management, content administration, and providing us with aggregated, comparative performance 
insights on our Website/Application.<br><br>
<i>USER CUSTOMIZATION</i><br><br>
You have the option to tailor our use of your personal information to regulate communication, receive 
marketing information, personalize advertising, and manage your account sign-in preferences. Should 
you prefer not to receive marketing communications, you can unsubscribe via the link in the email 
received, adjust your communication preferences, or notify us via email to halt promotional 
communications. Rest assured, we do not sell or rent your personal information to third parties for 
marketing endeavors without your explicit consent.<br><br>
<i>OWNERSHIP OF RIGHTS</i><br><br>
All rights, encompassing copyright, to this Website/Application are either owned by us or licensed to 
us. Unauthorized use of this Website/Application or its content, including copying, storing, or 
utilizing it for personal, non-commercial purposes, is prohibited without our consent. You are 
prohibited from modifying, distributing, transmitting, displaying, printing, publishing, selling, 
licensing, creating derivative works, or using any content from our Website/Application for 
commercial or public purposes. You may not alter, distribute, or repost any content from this 
Website/Application for any purposes. By downloading copyrighted materials, you acknowledge that 
no ownership rights are acquired. Trademarks within or associated with our Website/Application, or 
another Website/Application owned or operated with Nipracademy, are exclusive property of 
Nipracademy, unless stated otherwise.<br><br>
<i>CONSENT</i><br><br>
We believe that every user of our YouTube Channel/Services/products/Website/Application should be 
capable of providing informed consent before offering any information necessary for utilizing the 
YouTube Channel/Services/products/Website/Application. In the case of minors, consent for data 
retention is presumed to be granted by their guardians/parents. By registering with us, you expressly 
consent to our collection, processing, storage, disclosure, and handling of your information as outlined 
in this Policy, both presently and as amended by us. Registration implies that the parents/guardians of 
a minor agree to the company's privacy policy and terms and conditions. Your information 
processing, encompassing collecting, storing, deleting, using, combining, sharing, transferring, and 
disclosing information, will occur in India. If you reside outside India, your information will be 
transferred, processed, and stored in compliance with India's applicable data protection laws. By 
submitting content through the Services (your "Material"), you grant us a worldwide, non-exclusive, 
royalty-free license (with sublicensing rights) to use, copy, reproduce, process, adapt, modify, publish, 
transmit, display, and distribute such Material through any media or distribution methods, both 
current and future, associating your Material with you, except as detailed below. You consent to 
others using your Material in a similar manner as any other content available through the Services. <br><br>
Other users may modify, tweak, and repurpose your Material in line with these Terms. Even if you 
delete your user account, your Material and name may remain accessible through the Services.
Users hereby provide consent to Nipracademy for the utilization of their name, age, photographs, 
videos, voice recordings, rankings, statements, and/or testimonials ("Personal Attributes") for 
publication, advertising, and promotional purposes on its online platforms, including but not limited 
to the Platform, across any mode, medium, platform, or format, such as newspapers, magazines, other 
print media, television, radio, internet, and mailings for educational awareness. Any testimonials or 
statements provided by the Participant, along with other details regarding the use of the Platform and 
available content, shall be exclusively provided to Nipracademy, as warranted by the Participant. 
Marketing materials created by Nipracademy using a Participant's Personal Attributes shall remain the 
exclusive property of Nipracademy, and the Participant shall not have any claims against them. 
Participants understand that Nipracademy may use their Personal Attributes at its sole discretion 
without further notice. Nipracademy is not obligated to consider Participant input or feedback 
regarding the use of their Personal Attributes. Participants release, waive, and discharge any claims 
arising from the utilization of their Personal Attributes against Nipracademy or any authorized party 
for publication, as per the terms outlined. This release extends to all group companies, affiliated 
entities, subsidiaries, shareholders, directors, officers, employees, agents, assigns, and publishers of 
Personal Attributes in accordance with the terms. The release is binding on the Participant, their 
successors, heirs, assigns, executors, administrators, spouse, and next of kin. Participants confirm that 
the opportunity provided by Nipracademy to be acknowledged as a rank-holder in exams according to 
these Feature Terms constitutes adequate consideration for using their Personal Attributes, and 
Nipracademy is not liable to provide any compensation for utilizing Participant's Personal Attributes 
under these Feature Terms.<br><br>
<i>EXCLUSIVE SERVICE</i><br><br>
By creating a Nipracademy account, you explicitly authorize us to access your camera/microphone 
permissions for video calls and recordings.<br><br>
<i>SECURITY</i><br><br>
Ensuring the confidentiality of your information is our top priority. We implement physical, 
electronic, and procedural safeguards to protect the information we handle. Access to this data is 
restricted to authorized employees who require it for operating, developing, or improving our 
YouTube Channel/Services/Products/Website/Application. While we strive to provide reasonable 
security, no system is immune to all potential security breaches.<br><br>
Nipracademy <i>MAY DISCLOSE INFORMATION IN THE FOLLOWING SITUATIONS:</i><br><br>
• When required by law;<br>
• To enforce applicable "Terms of Use" and investigate possible violations;<br>
• To safeguard rights, ensure safety, prevent fraud, address technical issues, or respond to 
government requests;<br>
• With trusted service providers.<br><br>
<i>CONSENT TO THIS POLICY</i><br><br>
By submitting data to us or using the site, you agree to the terms outlined in this Privacy Policy.<br><br>
<i>UPDATES TO POLICY</i><br><br>
As the company evolves, our privacy policy will adapt to cover new scenarios. It is advisable to check 
this policy regularly for any updates, as continued use implies acceptance of all changes.<br><br>
<i>LIMITATION OF LIABILITY</i><br><br>
The company is not the creator of the content on the Website, Application, or YouTube Channel and 
shall not be liable for repercussions related to the content. The company, its officers, directors, 
employees, partners, or agents shall not be liable for any special, incidental, indirect, consequential, or 
punitive damages arising from your use of the Website/Application/YouTube Channel.<br><br>
In case of your breach of these terms, the company may suffer irreparable harm and may seek 
injunctive relief. Any violation may result in immediate suspension or termination of your account, 
besides other legal remedies.<br><br>
<i>Refund Policy</i><br><br>
Purchases of products/services are non-refundable. Online batch/service purchases are final. If a batch 
is bought in error, it can be exchanged for another of the same value within 10 days. Inspection before 
payment is recommended, especially for books. Damaged/lost products will be replaced, but no 
refund is available for wrong addresses or rejected deliveries.<br><br>
<i>CONTACT US:</i><br><br>
If you have inquiries regarding this Privacy Policy, please reach us:<br><br>
• Visit our Website/Application : <i><a href="https://www.nipracademy.live/"> https://www.nipracademy.live/</a></i><br>
• Email us at :<i><a href="support@nipracademy.org"> support@nipracademy.org</a></i>
    </h6></p>
    
</div>
{% endblock content%}